<?xml version="1.0" encoding="UTF-8"?>
<package packagerversion="1.10.6" version="2.0" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
	<name>magic</name>
	<channel>pecl.php.net</channel>
	<summary>magic - like /bin/file</summary>
	<description>return strings just like /bin/file
	</description>
	<lead>
		<name>JoungKyun.Kim</name>
		<user>joungkyun</user>
		<email>joungkyun@daum.net</email>
		<active>yes</active>
	</lead>
	<date>@curdate@</date>
	<time>@curtime@</time>
	<version>
		<release>2.0.2</release>
		<api>1.0.0</api>
	</version>
	<stability>
		<release>stable</release>
		<api>stable</api>
	</stability>
	<license uri="https://raw.githubusercontent.com/OOPS-ORG-PHP/mod_magic/master/LICENSE">BSD 3-Clause</license>
	<notes>
	</notes>
	<contents>
		<dir name="/">
			<file md5sum="@README.md@" name="README.md" role="doc" />
			<file md5sum="@LICENSE@" name="LICENSE" role="doc" />
			<file md5sum="@config.m4@" name="config.m4" role="src" />
			<file md5sum="@magic.c@" name="magic.c" role="src" />
			<file md5sum="@php_magic.h@" name="php_magic.h" role="src" />
			<file md5sum="@php_version_id.h@" name="php_version_id.h" role="src" />
			<file md5sum="@sample.php@" name="sample.php" role="src" />
			<dir name="tests">
				<file md5sum="@tests/001-enable.phpt@" name="001-enable.phpt" role="test" />
				<file md5sum="@tests/002-1arg.phpt@" name="002-1arg.phpt" role="test" />
				<file md5sum="@tests/003-user-magicfile.phpt@" name="003-user-magicfile.phpt" role="test" />
				<file md5sum="@tests/004-with-flag.phpt@" name="004-with-flag.phpt" role="test" />
				<file md5sum="@tests/005-flag-magicfile.phpt@" name="005-flag-magicfile.phpt" role="test" />
				<file md5sum="@tests/006-magicfile-flag.phpt@" name="006-magicfile-flag.phpt" role="test" />
				<file md5sum="@tests/007-php-errormsg.phpt@" name="007-php-errormsg.phpt" role="test" />
				<file md5sum="@tests/008-error-get-last.phpt@" name="008-error-get-last.phpt" role="test" />
				<file md5sum="@tests/009-data-control.phpt@" name="009-data-control.phpt" role="test" />
			</dir>
		</dir> <!-- / -->
	</contents>
	<dependencies>
		<required>
			<php>
				<min>7.0.0</min>
			</php>
			<pearinstaller>
				<min>1.4.3</min>
			</pearinstaller>
		</required>
	</dependencies>
	<providesextension>magic</providesextension>
	<extsrcrelease />
	<changelog>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>2.0.2</release><api>1.0.0</api></version>
			<date>@curdate@</date>
			<notes>
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>2.0.1</release><api>1.0.0</api></version>
			<date>2021-03-28</date>
			<notes>
				- confirmed PHP 5.6
				- enhanced build environment (#1, #3, #7)
				- enhanced argument order of filemagic function (#4)
				- enhanced Warning messages (#5)
				- change package name to mod_magic from mod_filebin (#6)
				- change return type of filemagic function (#8)
				- support check buffer (#9)
				- support filebin for previous compability (#10)
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>2.0.0</release><api>1.0.0</api></version>
			<date>2016-07-09</date>
			<notes>
				- support PHP 5.4
				- support 64bit library check
				- changed format of function arguments
				- fixed deprecated zend_get_parameters_ex
			</notes>
		</release>
		<release>
			<stability><release>stable</release><api>stable</api></stability>
			<version><release>1.0.0</release><api>1.0.0</api></version>
			<date>2012-11-12</date>
			<notes>
				- first release
			</notes>
		</release>
	</changelog>
</package>
